:root{
  --color-blue:#0FAE96;
  --color-todo:#1D1429;
  --colo-blanco:#FFFFFF;

}
.nav>li{
  list-style: none;
  margin: 0.5%  30px;
  color: var(--colo-blanco);
 
} 
.nav{
  display: flex
}
.nav>.home{
  color:var(--color-blue);
}
body{
  background-color: var(--color-todo);
}

